footer {
    background-color: #000;
    color: #fff;
    padding: 4rem 0;
}


#foot {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    max-width: 1200px;
    margin: 0 auto;
    text-align: left; 
    padding-left: 2.2rem;
}

.img-footer {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-footer img{
    width: 500px;
    margin-right: 3rem;
}

.txt-foot {
    padding-bottom: 1rem;
}

.txt-foot h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.txt-foot p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1.5rem; 
}

.txt-foot a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.txt-foot a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.line {
    margin: 2rem 0; 
}

form {
    width: 90%;
    min-width: 28.125em;
    max-width: 35em;
    background-color: #000;
    
}

fieldset {
    border: none;
}

label,
input,
textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input,
textarea {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid transparent;
    border-bottom-color: #bbb;
    padding: 0.75em;
    margin: 0.5em 0 2.5em;
    color: white;
    outline: 0;
}


input:invalid:focus,
textarea:invalid:focus {
    border-bottom: 2px solid #0066ff;
}

input:valid:focus,
textarea:valid:focus {
    border-bottom: 2px solid #0066ff;
}

.btn {
    background-color: #0066ff;
    color: #fff;
    cursor: pointer;
    padding: 0.7em;
    font-size: 01rem;
    border: none;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    height: 3rem;
}

.btn:hover{
    transition: 0.5s;
    background-color: #363636;
    border: 1px solid #fff;
}

@media (max-width: 767px){

    .img-footer img{
        width: 300px;
        padding-right: 0;
    }
    
    .txt-foot{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-top: 1rem;
        padding-right: 2.2rem;
        
    }

    form {
        width: 90%;
        min-width: 0;
        max-width: 35em;
        background-color: #000;
        
    }
    
    #foot .line{
        width: 85%;
        padding-right: 2.2rem;
    }

}