#newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newsletter .tt-news{
    padding-top: 4rem;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    align-items: start;
}

#newsletter .tt-news h1{
    font-weight: 300;
    text-align: left;
    align-items: start;
}

.line__black{
    width: 70rem;
    border-bottom: 1px solid #000;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 1rem;
}

#news-sec{
    background-color: #fff;
    padding: 4rem 0;
}

.l-news__latest-newses {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1280px;
    height: 475px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 20px;
}

.l-news__latest-newses a{
    background: none;
    text-decoration: none;
    color: #000;
}

.c-news--first {
    flex: 0 0 373px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 3.2rem;
}

.c-news--first .c-news__image img {
    width: 340px;
    height: 209px;
    border: 1px solid #000; 
}

.c-news__content {
    width: 375px;
    height: 83px;
    text-align: left;
    
}

.txt-first-news{
    width: 340px;
}

.c-news__title h2 {
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.2rem;
    
}

.c-news__title span{
    background: none;
    text-decoration: none;
}

.l-news__separator {
    display: block;
    height: 1px;
    background-color: #000;
    margin-top: 0.7rem;
    margin-bottom: 0.35rem;
    width: 50%;
}

.c-news__date {
    font-size: 14px;
    color: #000;
}

.nw__list__ul {
    display: flex;
    flex: 1 0 100%;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    max-width: calc(66.66667% - 10px);
    padding: 0;
    width: 100%;
}

.nw__list__ul li {
    width: 376px;
    height: 124px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.nw__list__ul li a {
    display: flex;
    align-items: center;
    background: none;
    text-decoration: none;
    color: black;
    transition: transform 0.3s;
    padding: 5px;
}

.nw__list__ul li a:hover {
    transform: scale(1.05);
}

.nw__list__ul li .c-news__image {
    width: 170px;
    height: 95px;
    margin-right: 10px;
}

.nw__list__ul li .c-news__image img {
    width: 170px;
    height: 100px;
    border: 1px solid #000;
}

.nw__list__ul li .c-news__content {
    width: 196px;
    text-align: left;
}

.nw__list__ul li .c-news__title h2 {
    font-size: 14px; 
    margin: 0;
    line-height: 1rem;
}

@media (max-width: 767px){
    
    
    #newsletter .tt-news{
        text-align: center;
        align-items: center;
    }
    
    .l-news__latest-newses{
        display: flex;
        flex-direction: column;
        height: 1300px;
    }

    .c-news--first {
        padding-left: 1.2rem;
    }
    
    .nw__list__ul {
        display: flex;
        flex-direction: column;
    }
    
}

