@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
body{
    background-color: #000000;
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
 
#navegacao li {
    font-size: 50px;
    display: inline-block;
    margin: 0 2em;
}
 
#navegacao a {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}
 
#navegacao img {
    vertical-align: middle;
    height: 100px;
}
#text-pag {
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins';
    margin-top: 10px;
}
 
#title-participantes{
    font-family: 'Poppins';
    text-align: center;
    font-size: 30px;
    color: transparent;
    margin-top: 30px;
    background-image: linear-gradient(to right, #ffffff 30%, rgb(53, 230, 236) 68%);
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 40px;
}
 
#pag-participantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
#participantes{
    display: flex;
    color: #ffffff;
    font-family: 'Poppins';
    text-align: center;
    font-size: 15px;
    gap: 120px;
    justify-content: center;
    margin-top: 40px;  
    color: #fff;
    gap: 8em;
    
}    
 
#participantes img{
    width: 200px;
    height: 200px;
}
 
#participantes a{
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat';
    gap: 10em;
}

ul p{
    margin-right: 120px;
}
 
@media (max-width: 767px){
    
    #navegacao li{
        margin: ;
    }

    #navegacao{
        text-align: center;
    }
    
    #pag-participantes{
        text-align: center;
    }
 
    #participantes{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
 
    #title-participantes{
        margin: 10px;
    }

    ul p{
        display: none;
    }
 
}
 
@media (min-width: 768px) and (max-width:1024px) {
    
    #pag-participantes{
        text-align: center;
    }
 
    #participantes{
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-bottom: 15px;
    }
 
    #title-participantes{
        margin-top: 30px;
    }
    ul p{
        display: none;
    }
}